extends ../layouts/main.pug

block content
  h1 Messages!!
  form(method="post" action="/messages")
    input(type="text" name="message")
    input(type="submit" value="Send")

  ul
    each message in messages
      li= message.text
