extends ../layouts/main.pug

block content
  turbo-frame(id="message-form")
    h1 Messages!!
    form(method="post" action="/messages")
      input(type="text" name="message")
      input(type="submit" value="Send")

      ul
        turbo-frame(id="messages")
          each message in messages
            include ./item.pug
